[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

aiohttp = "*"
async-timeout = "==1.1.0"
chardet = "==2.3.0"
multidict = "==2.1.4"
python-engineio = "*"
python-socketio = "*"
yarl = "==0.9.2"
sanic = "*"


[requires]

python_version = "3.6"
